<div class="container-fluid" style="margin: 0 !important; padding: 0 !important;">
  <div class="row">
    <div class=" col-md-3 col-xl-2 px-sm-2 px-0 bg-dark" style="width: 300px;">
      <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
        <ul class="nav nav-pills flex-column mb-sm-auto  align-items-center align-items-sm-start" id="menu">
          <li class="nav-item">
            <a href="#" class="nav-link align-middle px-0">
              <i class="font-weight-bold"></i> <span class="font-weight-bold" style="color: white;">
                <h5>Videojuego</h5>
              </span>
            </a>

          </li>
          <li class="nav-item">
            <a href="#" class="px-5 " style="color: white;"> <span class="">Insertar Videojuego</span></a>
          </li>
              <li class="nav-item">
                <a href="#" class="px-5 " style="color: white;"> <span class="">Modificar Videojuego</span></a>
              </li>
                  <li class="nav-item">
                    <a href="#" class="px-5 " style="color: white;"> <span class="">Eliminar Videojuego</span></a>
                  </li>
          <li class="nav-item mt-5">
            <a href="#" class="text-warning px-5 "> <span class=""></span> </a>
          <li class="nav-item">
            <a href="#" class="nav-link align-middle px-0">
              <i class="font-weight-bold "></i> <span class="font-weight-bold" style="color: white;">
                <h5>Comentario</h5>
              </span>
            </a>
          </li>

          <li class="nav-item">
            <a href="#" class="px-5" style="color: white;"> <span class="font-weight-ligh" style="color: white;">Insertar Comentario</span></a>
          <li class="nav-item">
            <li class="nav-item">
              <a href="#" class="px-5" style="color: white;"> <span class="font-weight-ligh" style="color: white;">Modificar
                  Comentario</span></a>
            <li class="nav-item">
              <li class="nav-item">
                <a href="#" class="px-5" style="color: white;"> <span class="font-weight-ligh" style="color: white;">Eliminar
                    Comentario</span></a>
              <li class="nav-item">
            <a href="#" class="nav-link align-middle px-0">
              <i class="px-5 "></i> <span class="font-weight-bold" style="color: white;">
                <h5>Votacion</h5>
              </span>
            </a>

          </li>
          <li class="nav-item">
            <a href="#" class="px-5" style="color: white;"> <span class="font-weight-ligh">Insertar Votacion</span></a>
          </li>
          <li class="nav-item">
            <a href="#" class="px-5" style="color: white;"> <span class="font-weight-ligh">Modificar Votacion</span></a>
          </li>
          <li class="nav-item">
            <a href="#" class="px-5" style="color: white;"> <span class="font-weight-ligh">Eliminar Votacion</span></a>
          </li>
        </ul>
        <hr>
      </div>

    </div>
  </div>
</div>
